<div class="container questions">
    <form action="/test" method="GET">
        <label>
            Q<%= @question.number %>: <%= @question.title %>
        </label>
        <br>
        <label>
            <input id="ans-one" type="checkbox" value="<%= @question.qtype[0] %>" name="submission">
            <%= @question.optionA %>
        </label>
        <label>
            <input id="ans-two" type="checkbox" value="<%= @question.qtype[1] %>" name="submission">
            <%= @question.optionB %>
        </label>
        <br>
        <input type="hidden" name="progress" value="<%= @question_number + 1 %>">
        <% if @question_number != 1 %>
        <a style="display: inline-block; margin-right: 30px;" href="/test?progress=<%= @question_number-1 %>&reverse=<%= params['submission'] %>">Previous</a>
        <% end %>
        <input id="select_answer" type="submit" value="Select Answer">

        <div class="error-box">
            <p>Please select only one answer</p>
        </div>

    </form>
</div>