<!DOCTYPE html>
<html>
  <head>
    <title>MyerBriggs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <a href="/" style="text-decoration: none;"><h1 style="color: yellow">Personality Matchmaker</h1></a>
      <% if session[:user_id] %>
      <%= button_to "Log Out", login_path, :method => 'delete', :class => "btn", :style => "display: block; margin: 20px auto" %>
      <% end %>
    </nav>
    <%= yield %>

  </body>
</html>
